{% extends 'base.html.twig' %}

{% block title %} Editer une recette {% endblock %}

{% block body %}

{% if is_granted('ROLE_ADMIN') %}
<h1>Editer une recette</h1>

    {{ form_start(formRecetteEdit) }}

    {{ form_row(formRecetteEdit.title, {'attr': {'placeholder': "Titre de la recette"}, 'label': 'Titre' }) }}
    {{ form_row(formRecetteEdit.time, {'attr': {'placeholder': "Temps de la préparation"}, "label": "Temps"}) }}
    {{ form_row(formRecetteEdit.person, {'attr': {'placeholder': "Nombre de personnes"}, "label": "Personne"}) }}
    {{ form_row(formRecetteEdit.abstract, {'attr': {'placeholder': "Résumé de la recette"}, "label": "Résumé"}) }}
    {{ form_row(formRecetteEdit.preparation, {'attr': {'placeholder': "Contenu de la préparation"}, "label": "Préparation"}) }}

    <a href="{{ path("admin_recette") }}" class="btn btn-secondary">Annuler</a>

    <button type="submit" class="btn btn-success">Modifier</button>

    {{ form_end(formRecetteEdit) }}

    {% else %}
    <div class="alert-danger">Accès non autorisé à cette page</div>
    {% endif %}

{% endblock %}